node_modules
dist
test
.config
coverage
public/test/
components.d.ts
auto-imports.d.ts
stats.html
scripts
.pytest_cache
__pycache__
.husky
.github
.gitignore
.prettierignore
.prettierrc
.replit
pytest.ini
README.md
renovate.json
replit.nix
.env.alpha
.env.beta
.env.dev
tests
# IDEs and editors

*.iml
*.ipr
*.iws
.idea/
.project
.classpath
.settings/
.vscode/
*.sublime-workspace

# OS

.DS_Store
Thumbs.db